<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Predicted Price</title>
  </head>
  <body>
    <div class="container">

      <h1>Thank you. </h1>
      <h2>Here are your searched features and predited price : </h2>
    </div>

    <div class="container">
      <div class="row">
<!--
        <div class="col">Bed :</div>
        <div class="col">{{session['bedroom']}} No.</div>
        <div class="w-100"></div>
        <div class="col">Bath :</div>
        <div class="col">{{session['bathroom']}} No.</div>
        <div class="w-100"></div>
        <div class="col">Sqft of Living Area :</div>
        <div class="col">{{session['sqft_living']}} sqft</div>
        <div class="w-100"></div>
        <div class="col">Sqft Lot Size :</div>
        <div class="col">{{session['sqft_lot']}} sqft</div>
        <div class="w-100"></div>
        <div class="col">Floor :</div>
        <div class="col">{{session['floor']}} No.</div>
        <div class="w-100"></div>
        <div class="col">Year Property was Built :</div>
        <div class="col"> Year {{session['year_built']}}</div>
        <div class="w-100"></div>
        -->
        <div class="col"><h3><b>Predicted Price of your property  :</b></h3></div>
        <div class="col"><h4><b> Rs. {{pred}}</b></h4></div>
      </div>
    </div>

    <!--<ul>
      <li>Bed : {{session['bedroom']}}</li>
      <li>Bath : {{session['bathroom']}}</li>
      <li>Sqft of Living Area: {{session['sqft_living']}}</li>
      <li>Sqft Lot Size : {{session['sqft_lot']}}</li>
      <li>Floor: {{session['floor']}}</li>
      <li>Year Property was Built : {{session['year_built']}}</li>
      <li>Predicted Price of your property :<b> Rs. {{pred}}</b></li>
    </ul>>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
